@Header-wrapp-color-1: #C0C0C0;
@Header-wrapp-color-2: #F5F5F5;

.Header {
	width: 960px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid @Header-wrapp-color-1;
	border-radius: 4px;
}